{% extends "app/base.html" %}

{% block content %}
    <h1>Company Details</h1>
    <table>
        <tr>
            <th>Company Name:</th>
            <td>{{ company.company }}</td>
        </tr>
        <tr>
            <th>User Baba:</th>
            <td>{{ company.user_baba.username }}</td>
        </tr>
    </table>
    <div style="display: flex;justify-content: center;">
        <a class="mybutton" href="{% url 'company_list' %}">Back to Company List</a>

    </div>
    {% endblock content %}



    