{% extends 'app/base.html' %}
<style>
  select{
    user-select: none;
  }
</style>
{% block content %}
<div class="eleven">
  <h1  style="color: #ce1c51df; font-weight:bolder; ">Create project</h1>
</div>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create project <i class="fa fa-arrow-right"></i></button>
  </form>
  <br>
  <div style="">

  <a class="mybutton" href="/"><i class="fa fa-arrow-left"></i>Back to Homepage</a>
  </div>
{% endblock %}



